<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
	<title>Algorithms</title>
</head>
<body onload="onloadAlgorithms()">

	<div id="header">
	</div>
	
	<div id="menu" class="menu">
	</div>
	
	<div id="homepage">
	</div>
	
	<script src="{{url_for('static', filename='index.js')}}"></script>
	<script src="{{url_for('static', filename='algorithms.js')}}"></script>

</body>
</html>